<link
  href="https://fonts.googleapis.com/css?family=Montserrat"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Space+Mono"
  rel="stylesheet"
  type="text/css"
/>

<table
  style="
    font-family: Space Mono, sans-serif;
    text-align: left;
    color: #484A47;
    font-size: 14px;
    line-height: 21px;
  "
>
  <tbody>
    <tr>
      <td rowspan="6" style="width:30%; padding-right:20px;">
        <a href="{{website}}">
          <img src="{{company_logo}}" alt="{{company}} logo" width="170px" />
        </a>
      </td>

      <td
        colspan="5"
        style="padding-top: 40px; font-size: 22px; font-family: Montserrat, sans-serif;"
      >
        {{name}}
      </td>
    </tr>

    <tr>
      <td colspan="5" style="padding-bottom: 15px;">{{title}}</td>
    </tr>

    <tr>
      <td colspan="5">{{phone}}</td>
    </tr>

    <tr>
      <td colspan="5">{{address}}</td>
    </tr>

    <tr>
      <td colspan="5" style="padding-bottom: 15px;">
        <a href="{{website}}" style="color: #7447d7; text-decoration: none;">
          {{website_display}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
