<table border="0" cellpadding="0" cellspacing="0" width="500">
  <tbody>
    <tr>
      <td border="0" cellpadding="0" cellspacing="0" height="38" width="222">
        <img src="{{company_logo}}" alt="{{company}} logo" />
      </td>
    </tr>

    <tr>
      <td
        height="64"
        style="
          font-family: Helvetica, Arial, sans-serif;
          font-size: 18px;
        "
      >
        <strong>{{name}}</strong><br />
        <em style="font-size: 17px; font-weight: 400">{{title}}</em>
      </td>
    </tr>

    <tr>
      <td
        height="58"
        style="
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          color: #4d4d4e;
        "
      >
        {{address}}<br />
        {{phone}}
      </td>
    </tr>

    <tr>
      <td
        class="hover"
        height="60"
        style="
          font-family: Helvetica, Arial, sans-serif;
          font-size: 16px;
          color: #7447d7;
        "
      >
        <a href="mailto:{{email_address}}" style="color: #7447d7">
          {{email_address}}
        </a>
        <br />
        <a href="{{website}}" target="_blank" style="color: #7447d7">
          {{pretty_url website}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
